.recepie__info__description{
    margin: 20px;
    h1{
        width: fit-content;
        margin: auto;
    }
    p{
        font-size: small;
        margin-bottom: 20px;
    }
    .youtube__video{
        width: fit-content;
        margin: auto;
        text-align: center;
        a{
            color: deepskyblue;
        }
    }
}
@media (width <= 911px){
    .recepie__info__description{
        text-align: center;
    }
    p{
        text-align: left;
    }
}