.recepie__info__description{
    margin: 20px;
    h1{
        width: fit-content;
        margin: auto;
    }
    p{
        font-size: small;
        margin-bottom: 20px;
    }
    .youtube__video{
        width: fit-content;
        margin: auto;
        a{
            color: deepskyblue;
        }
    }
}