@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexWithGap($gap){
    display: flex;
    align-items: center;
    gap: $gap;
}


// elements
@mixin button{
        outline: transparent;
        width: fit-content;
        padding: 8px
}