@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexWithGap($gap){
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin textGradient($c1,$c2) {
    background-image: linear-gradient(to right, $c1, $c2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
// elements
@mixin button{
        outline: transparent;
        width: fit-content;
        padding: 8px;
        border-radius: 5px;
}