$prim__red: #ef233c;
$sec__red: #d90429;
$gray:#edf2f4;
$dark__gray:#8d99ae;
$black:#2b2d42;

// themes.scss
:root[data-theme="theme-light"] {
    --primary-color: #0072a3;
    --text-color: #333333;
    --bg-color: #fafafa;
    --component-bg-color: #ffffff;
}

:root[data-theme="theme-dark"] {
    --primary-color: #49afd9;
    --text-color: #e3f5fc;
    --bg-color: #1b2a32;
    --component-bg-color: #22343c;
}
