@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,900;1,300;1,400&display=swap');
@import './variables';
@import './mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root[data-theme=""] {
  --primary-color: #0072a3;
  --bg-color: #fafafa;
  --text-color: #333333;
  --component-bg-color: #ffffff;
}
:root[data-theme="theme-light"] {
  --primary-color: #0072a3;
  --bg-color: #fafafa;
  --text-color: #333333;
  --component-bg-color: #ffffff;
}

:root[data-theme="theme-dark"] {
  --primary-color: #49afd9;
  --bg-color: #252525;
  --text-color: #e3f5fc;
  --component-bg-color: #202020 ;
}
p,h1,h2,h3,h4,h5,h6{
  color: var(--text-color);
}
input::value{
  color: var(--text-color);

}
.info{
  background-color: var(--component-bg-color);
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

.meal__info{
  margin-top: 100px;
}
  
 .recepie__info{
  display: flex;
  align-items: center;
  gap: 30px;
  button{
    background-color: rgb(61, 61, 238);
    color: white;
    padding: 5px 5px;
    border: none;
    outline: transparent;
    border-radius: 4px;
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }
 }

 .recepies{
  >h1{
    width: fit-content;
    margin: auto;
    margin-top: 20px;    
    @media(width <= 991px){
      font-size: large;
    }
  }
 }